<% if logged_in? %>
<div class="row">
    <aside class="col-md-2">
        <ul class="select_order">
             <li><%= link_to "新着", root_path %> </li>
             <li><%= link_to "タイムライン", timeline_path %></li>
             <li><%= link_to "ブックマーク", '#' %></li>
        </ul>
    </aside>
    <div class="col-md-8">
        <%= search_form_for @q, class: 'mb-5', url: root_path do |f| %>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-10">
                    <%= f.search_field :title_cont, class: 'form-control', placeholder: "キーワードを入力"%>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-2">
                    <%= f.submit class: 'btn btn-outline-primary' %>
                    </div>
                </div>
            </div>
        <% end %>
            <h2>新着記事</h2>
            <ol class="posts">
            <%= render @posts %>
            </ol>
    </div>
    <aside class="col-md-2">
    </aside>
</div>

<% else %>
    <div class="center jumbotron">
        <h1>MathStockerへようこそ</h1>

        <h2>
        This is the home page for the
        <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
        sample application.
        </h2>

        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>

<% end %>

